@font-face {
    font-family:"CustomFont";
    src: url("../assets/fonts/VarelaRound-Regular.ttf") format("truetype");
}

* {
    font-family: 'CustomFont' !important;
}

.header-image {
    height: 300px;
    border-radius: 50%;
}